// both
$line-deco-color: #C4C4C4;

// light
$background-color-light: #FFFFFF;
$font-color-light: #001E27;
$view-sq-bg-color-light: #F5F7FA;
$view-sq-active-bg-color-light: #141B26;
$ab-bg-color-light: #0BBBA9;
$sm-bg-color-light: #A3FACF;
$tt-bg-color-light: #FFB0BD;

// dark
$background-color-dark: #141B26;
$font-color-dark: #FFFFFF;
$view-sq-bg-color-dark: #0A0805;
$view-sq-active-bg-color-light: #FFFFFF;
$ab-bg-color-dark: #F44456;
$sm-bg-color-dark: #5C0530;
$tt-bg-color-dark: #FF758C;


// line
// body padding left
$line-deco-width: 40px;


// body padding
$body-padding-right: 15px;
$body-padding-top: 20px;
