:root {
  // both
  --line-deco-color: #C4C4C4;

  --background-color: #FFFFFF;
  --font-color: #001E27;
  --view-sq-bg-color: #F5F7FA;
  --view-sq-active-bg-color: #141B26;
  --ab-bg-color: #0BBBA9;
  --sm-bg-color: #A3FACF;
  --tt-bg-color: #FFB0BD;

  @media (prefers-color-scheme: dark) {
    --background-color: #141B26;
    --font-color: #FFFFFF;
    --view-sq-bg-color: #0A0805;
    --view-sq-active-bg-color: #FFFFFF;
    --ab-bg-color: #F44456;
    --sm-bg-color: #5C0530;
    --tt-bg-color: #FF758C;
  }

  // line
  // body padding left
  --line-deco-width: 40px;


  // body padding
  --body-padding-right: 15px;
  --body-padding-top: 20px;

}
