@import '../styles/variables';


.ab-store {
    background-color: $ab-bg-color-light;
}

.sm-store {
    background-color: $sm-bg-color-light;
}

.tt-store {
    background-color: $tt-bg-color-light;
}
