@import '../styles/variables';


.ab-store {
    background-color: $ab-bg-color-light;
}

.sm-store {
    background-color: $sm-bg-color-light;
}

.tt-store {
    background-color: $tt-bg-color-light;
}

@media (prefers-color-scheme: dark) {
  .ab-store {
      background-color: $ab-bg-color-dark;
  }

  .sm-store {
      background-color: $sm-bg-color-dark;
  }

  .tt-store {
      background-color: $tt-bg-color-dark;
  }
}
