@import "../styles/variables";

.ab-store {
  background-color: var(--ab-bg-color);
}

.sm-store {
  background-color: var(--sm-bg-color);
}

.ol-store {
  background-color: var(--ol-bg-color);
}

.tt-store {
  background-color: var(--tt-bg-color);
}
